@media (min-width: 980px) {
  body {
    padding-top: 60px;
  }
}

.masonry .masonry-item {
 width: 220px;
 margin: 10px;
 float: left;
}

.masonry-item img {
 width: 220px;   
}

.item {
    float: left;
    margin: 5px;
}
.item img{
  width:150px;
}