<div class="container" ng-controller="Filters">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills">
                <li ng-repeat="album in imgur.albums()" ng-class="{active:album.active}" ng-click="updateFilter($index)" id="{{album.id}}">
                    <a href="#">
                        {{album.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="container" ng-controller="Filters">
                <div class="item" myDirective check-last ng-repeat="image in imgur.images()">
                    <img src="{{image.link}}" />
                </div>
            </div>
        </div>
    </div>
</div>