<div class="container" ng-controller="Filters">
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills">
                <li ng-repeat="album in albumsList" ng-class="{active:album.active}" ng-click="updateResults(album.id)">
                    <a href="#">
                        {{album.title}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="container">
                <div ng-repeat="album in results">
                    <div class="item" myDirective check-last ng-repeat="image in album.images">
                        <img src="{{image.link}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>